name: Code Analysis

on:
  pull_request:
    branches: [master, develop]
  push:
    branches: [master, develop]

jobs:
  analyze:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-node@v4
        with:
          node-version: 24.11.1
          cache: yarn

      - run: yarn install --frozen-lockfile
      - run: yarn lint
      - run: yarn typecheck
